In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sbs

In [3]:
df = pd.read_csv("2019_dataset_en.csv")

/var/folders/ph/ky003tcd261fjfnnlk8hk7tr0000gn/T/ipykernel_67070/849381847.py:1: DtypeWarning: Columns (1,2,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("2019_dataset_en.csv")

In [4]:
df.head()

,C_YEAR,C_MNTH,C_WDAY,C_HOUR,C_SEV,C_VEHS,C_CONF,C_RCFG,C_WTHR,C_RSUR,...,V_TYPE,V_YEAR,P_ID,P_SEX,P_AGE,P_PSN,P_ISEV,P_SAFE,P_USER,C_CASE
0,2019,1,1,11,2,2,32,1,1,5,...,1,2015,1,M,56,QQ,1,2,U,2681651
1,2019,1,1,11,2,2,32,1,1,5,...,1,2015,UU,U,UU,UU,U,UU,U,2681651
2,2019,1,1,11,2,2,32,1,1,5,...,1,2010,1,F,30,11,2,2,1,2681651
3,2019,1,1,11,2,2,32,1,1,5,...,1,2010,2,U,1,QQ,N,NN,U,2681651
4,2019,1,1,16,2,2,32,1,2,5,...,1,2007,1,F,27,11,2,2,1,2681652

In [10]:
df.shape

(272301, 23)